body {
    width: 100%;
    margin: 0;
    background-color: #36454F;
    font-family: sans-serif;
    font-weight: 100;
}

.wrapperInput {
    margin: 0 auto;
    margin-top: 10%;
    display: block;
    width: 70%;
}

.wrapperOutput{
    margin: 0 auto;
    margin-top: 50px;
    width:70%;
    display: block;
}

.wrapperOutput p {
    color: white;
    font-size: 30px;
    letter-spacing: 2px;
    text-align: center;
}

.inputElement {
    font-size: 20px;
    padding: 5px 20px;
    border-radius: 10px;
    color: #013220;
    height: 50px;
    padding: 5px 20px;
    border: none;
    outline: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing:    border-box;
          box-sizing:   border-box;
}

#bin, #dec {
    width: 100%;
 
}

.inputElement:focus{
    border: #6D9BC3 solid 5px;
    padding: 0px 15px;
}

#solve {
    padding: 0;
    width: 120px;
    height: 30px;
    border-radius: 10px;
    border: 5px solid #6D9BC3;
    color: #6D9BC3;
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
    font-size: 16px;
}

#solve:hover {
    cursor: pointer;
    color: #36454F;
    background-color: #6D9BC3
}

h1 {
    text-align: center;
    color: #6D9BC3;
    margin-top: 5%;   
}

.calculationFieldWrapper{
    width: 400px;
    margin-top: 20px;
    display: block;
}

#calculationField{
    width: 330px;
    display: inline;
    margin-left: 70px;
}

#operationField{
    width: 50px;
    display: inline;
}

#operationField option{
    margin-left: 10px;
}

#contentField{
    width: 330px;
    float: right;
    display: inline;
}

.operationAndField select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.calculationWrapper{
    width: 400px;
    margin: 0 auto;
    margin-top: 20px;
}

.operationAndField{
    display: block;
    margin-top: 20px;
}